.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/

coverage

# Swift Package Manager
.swiftpm

# Ruby Gems
vendor

# Release Output
Postie.xcframework
Postie.sha256
Postie.zip
PostieMock.xcframework
PostieMock.sha256
PostieMock.zip
